<style>
    
    .vermelho{
        background-color: red;
    }
    .amarelo{
        background-color: yellow;
    }
    .azul{
        background-color: rgb(255, 72, 0);
    }
    .rosa{
        background-color: deeppink;
    }
    .roxo{
        background-color: aqua;
    }
</style>